rpi/node_modules/*
rpi/tests/testGPIO/node_modules/*
server/node_modules/*
server/public/lib/*
server/public/node_modules/*
server/public/api/*
server/public/docs/*
*.DS_Store
*.rdb
*.directory
*.idea
*.vsc
*.Rhistory
npm-debug.log
.idea/vcs.xml
