rpi/node_modules/*
rpi/tests/testGPIO/node_modules/*
server/node_modules/*
server/public/node_modules/*
server/public/lib/*
server/public/docs/*
server/public/api/*
*.DS_Store
*.rdb
*.directory
*.idea
*.vsc
.idea/vcs.xml
npm-debug.log
