<!DOCTYPE html>
<br>
<div class="row" ng-click="showSettings()">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">

            <form class="form-horizontal" ng-submit="create()">

                <center>
                    <h1 class="display-4">{{ 'UPDATE THRESHOLDS' | translate }}</h1>
                </center>
                <br>

                <ul class="nav navbar-nav pull-right" ng-if="authenticated_user">
                    <li class="nav-item nav-pills dropdown pull-xs-right">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;{{authenticated_user.username}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header" ng-if="authenticated_user.thresholds.length > 0">{{ 'THRESHOLDS' | translate}}</h6>

                            <a ng-repeat="threshold in authenticated_user.thresholds" class="dropdown-item" style="cursor:pointer;" ng-click="updateCurrentThreshold(threshold)">
                                <i class="fa fa-blind" aria-hidden="true" ng-if="threshold.category == 'PEDESTRIAN' "></i>
                                <i class="fa fa-bicycle" aria-hidden="true" ng-if="threshold.category == 'BIKE' "></i>
                                <i class="fa fa-wheelchair" aria-hidden="true" ng-if="threshold.category == 'WHEELCHAIR' "></i>
                                <i class="fa fa-motorcycle" aria-hidden="true" ng-if="threshold.category == 'SCOOTER' "></i>
                                <i class="fa fa-motorcycle" aria-hidden="true" ng-if="threshold.category == 'MOTORBIKE' "></i>
                                <i class="fa fa-car" aria-hidden="true" ng-if="threshold.category == 'CAR' "></i>
                                <i class="fa fa-bus" aria-hidden="true" ng-if="threshold.category == 'BUS' "></i>
                                <i class="fa fa-truck" aria-hidden="true" ng-if="threshold.category == 'TRUCK' "></i>
                                <i class="fa fa-circle-o" aria-hidden="true" ng-if="threshold.category == 'OTHER' "></i>
                                &nbsp;<span ng-class="{'bold': authenticated_user.currentThreshold.threshold_id === threshold.threshold_id}">{{threshold.description}}</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" ng-click="showSettings()" style="cursor:pointer;">
                                <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SETTINGS'}}
                            </a>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputthreshold">{{ 'New Value' | translate }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input class="form-control form-control" type="text" placeholder="{{ 'New Value' | translate }}" ng-model="threshold.new value">
                        </div>
                    </div>


                <div class="row">
                    <div class="col-xs-6">
                        <button class="form-control btn btn-secondary" type="button" role="button" ng-click="cancel()">
                            {{ 'CANCEL' | translate }}
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="form-control btn btn-success" type="submit" role="button">
                            {{ 'SUBMIT' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
