<!DOCTYPE html>

<ul class="nav nav-tabs centered" style="position: relative; z-index:2;">
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(1)" ng-class="{ active: tab==1 }" style="cursor:pointer"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SETTINGS' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(2)" ng-class="{ active: tab==2 }" style="cursor:pointer"><i class="fa fa-arrows-v" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'THRESHOLDS' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(3)" ng-class="{ active: tab==3 }" style="cursor:pointer"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SUBSCRIPTIONS' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(4)" ng-class="{ active: tab==4 }" style="cursor:pointer"><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SENSORS' | translate }}</a>
    </li>
</ul>

<!-- Tabs -->
<div class="card" style="margin-top: -1px; position: relative; z-index:1; padding:20px;">

    <div ng-if="!user">
        <br>
        <br>
        <center><i class="fa fa-spinner fa-pulse"></i></center>
        <br>
        <br>
    </div>

    <!-- Header -->
    <div class="row">

        <!-- Username -->
        <div class="col-md-6">
            <h1 class="display-4 text-primary" style="font-size: 18pt;">
                <i class="fa fa-user"></i> {{user.username}}
            </h1>
            <br>
        </div>
        <div class="col-md-6 right">

            <span ng-if="tab==4">
                <a class="btn btn-primary" ng-href="#/new/sensor">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE_NEW_SENSOR' | translate }}
                </a>
            </span>
        </div>
    </div>

    <!-- 1st Tab -->
    <div class="row" ng-if="tab==1">
        <div class="col-md-12">
            <div class="card">
                TAB 1
            </div>
        </div>
    </div>

    <!-- 2nd Tab -->
    <div class="row" ng-if="tab==2">
        <div class="col-md-12">
            <div class="card">
                TAB 2
            </div>
        </div>
    </div>

    <!-- 3rd Tab -->
    <div class="row" ng-if="tab==3">
        <div class="col-md-12">
            <div class="card">
                TAB 3
            </div>
        </div>
    </div>

    <!-- 4th Tab -->
    <div class="row" ng-if="tab==4">
        <div class="col-md-12">
            <div class="card">
                <table class="table table-striped table-hover" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th>{{ 'ONLINE' | translate }}</th>
                            <th>{{ 'DEVICE_ID' | translate }}</th>
                            <th>{{ 'PRIVATE' | translate }} / {{ 'PUBLIC' | translate }}</th>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th></th>
                            <th class="right">
                                <button ng-click="deleteAllSensors();" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>&nbsp;{{ 'ALL' | translate }}
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!user.sensors">
                            <td colspan="5">
                                <center><i class="fa fa-spinner fa-pulse"></i></center>
                            </td>
                        </tr>
                        <tr ng-if="user.sensors.length == 0">
                            <td colspan="5">
                                <center>- {{ 'NONE' | translate}} -</center>
                            </td>
                        </tr>
                        <tr ng-if="user.sensors.length != 0" ng-repeat="sensor in user.sensors | orderBy: 'device_id' " ng-click="showDetails(sensor.sensor_id)" style="cursor:pointer">
                            <td>
                                <span ng-if="sensor.online_status" class="text-success">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <span ng-if="!sensor.online_status" class="text-danger">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                            </td>
                            <td><kbd>{{sensor.device_id}}</kbd></td>
                            <td>
                                <span ng-if="sensor.private" class="text-primary">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <span ng-if="!sensor.private">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </span>
                            </td>
                            <td>{{sensor.description}}</td>
                            <td class="right">
                                <div class="btn-group" role="group" aria-label="Edit">
                                    <button ng-click="showOnMap(sensor.sensor_id); $event.stopPropagation();" class="btn btn-sm btn-secondary">
                                        <i class="fa fa-map"></i>&nbsp;&nbsp;{{ 'SHOW_ON_MAP' | translate }}
                                    </button>
                                </div>
                            </td>
                            <td class="right">
                                <div class="btn-group" role="group" aria-label="Edit">
                                    <button ng-click="editSensor(sensor.sensor_id); $event.stopPropagation();" class="btn btn-sm btn-info">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button ng-click="deleteSensor(sensor); $event.stopPropagation();" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
