<!DOCTYPE html>

<ul class="nav nav-tabs centered" style="position: relative; z-index:2;">
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(1)" ng-class="{ active: tab==1 }" style="cursor:pointer"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'GENERAL' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(2)" ng-class="{ active: tab==2 }" style="cursor:pointer"><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'TIMESERIES' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(3)" ng-class="{ active: tab==3 }" style="cursor:pointer"><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'REAL_TIME_DATA' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="changeTab(4)" ng-class="{ active: tab==4 }" style="cursor:pointer"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SUBSCRIPTIONS' | translate }}</a>
    </li>
</ul>

<!-- -->
<div class="card" style="margin-top: -1px; position: relative; z-index:1; padding:20px;">

    <!-- Sensor Description -->
    <div class="sensor-title">
        <h1 class="display-4 text-primary" style="font-size: 18pt;">
            <i class="fa fa-cube"></i>
            {{sensor.description}}
        </h1>
    </div>

    <!-- 1st Tab -->
    <div ng-if="tab==1">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'DETAILS' | translate }}</h3>
                    <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 10px;" id="details">
                        <table class="table-sm" style="margin-bottom: 0px;">
                            <tbody>
                                <tr>
                                    <th>{{ 'ONLINE' | translate }}</th>
                                    <td>
                                        <span ng-if="!sensor.private">
                                            <span class="label label-pill label-success">
                                                {{ 'ONLINE_' | translate }}
                                            </span>
                                        </span>
                                        <span ng-if="sensor.private">
                                            <span class="label label-pill label-danger">
                                                {{ 'OFFLINE_' | translate }}
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'DEVICE_ID' | translate }}</th>
                                    <td>
                                        <kbd>{{sensor.device_id}}</kbd>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'PRIVATE' | translate }}
                                        /
                                        {{ 'PUBLIC' | translate }}</th>
                                    <td>
                                        <span ng-if="sensor.private" class="text-primary">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </span>
                                        <span ng-if="!sensor.private">
                                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'COORDINATES' | translate }}</th>
                                    <td>{{sensor.lng}} <small>{{ 'LONGITUDE' | translate }}</small></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>{{sensor.lat}} <small>{{ 'LATITUDE' | translate }}</small></td>
                                </tr>
                                <tr>
                                    <th>{{ 'SENSOR_HEIGHT' | translate }}</th>
                                    <td>{{sensor.sensor_height}}
                                        <small>{{ sensor.sensor_height_unit | translate }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'CROSSING_HEIGHT' | translate }}</th>
                                    <td>{{sensor.crossing_height}}
                                        <small>{{ sensor.crossing_height.unit | translate }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'MEASURE_FREQUENCY' | translate }}
                                        <small>({{ 'DEFAULT' | translate }})</small>
                                    </th>
                                    <td>{{sensor.default_frequency}}
                                        <small>{{ sensor.default_frequency_unit | translate }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'MEASURE_FREQUENCY' | translate }}
                                        <small>({{ 'DANGER' | translate }})</small>
                                    </th>
                                    <td>{{sensor.danger_frequency}}
                                        <small>{{ sensor.danger_frequency_unit | translate }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'THRESHOLD' | translate }}</th>
                                    <td>{{sensor.threshold_value}}
                                        <small>{{ sensor.threshold_value_unit | translate }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'INCREASED_FREQUENCY' | translate }}</th>
                                    <td>
                                        <span ng-if="sensor.increased_frequency" class="text-warning">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                        </span>
                                        <span ng-if="!sensor.increased_frequency">
                                            <i class="fa fa-bell-slash" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'CREATED' | translate }}</th>
                                    <td>{{ sensor.created | time }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'UPDATED' | translate }}</th>
                                    <td>{{ sensor.updated | time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'MAP' | translate }}</h3>
                    <leaflet id="map_2" markers="markers" center="center" layers="layers" paths="paths" event-broadcast="events"></leaflet>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'WEATHER_FORECAST' | translate }}</h3>
                    <div class="row">
                        <div class="col-xs-2">
                            <b>{{ 'CURRENTLY' | translate }}</b><br>
                            {{weather_forecast.currently.temperature}} °C<br>
                            {{weather_forecast.currently.humidity | humidity}}%
                            {{weather_forecast.currently.summary}}
                        </div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'NEARBY_SENSORS' | translate }}</h3>
                    <!--<div class="card-block">-->
                        {{sensor.related_sensors}}
                    <!--</div>-->
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">

                <!-- Emergency Station -->
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'NEARBY_EMERGENCY_STATIONS' | translate }}</h3>
                    <ul class="list-group list-group-flush" style="margin-top: -10px;">
                        <li class="list-group-item" ng-repeat="emergency_station in sensor.emergency_stations">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h5>
                                        <span class="label label-primary">
                                            {{(emergency_station.distance).toFixed(0) | distance }}
                                        </span>
                                    </h5>
                                </div>
                                <div class="col-xs-10">
                                    <h5>{{emergency_station.name}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-5">
                                    {{emergency_station.street}} {{emergency_station.house_number}} <span ng-if="emergency_station.addition != '' ">({{emergency_station.addition}})</span><br>
                                    {{emergency_station.zip_code}}, {{emergency_station.city}},<br>
                                    {{emergency_station.country | translate }}<br>
                                </div>
                                <div class="col-xs-5">
                                    {{emergency_station.phone_number}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">

                <!-- Service Station -->
                <div class="card" style="margin-bottom: 0px;">
                    <h3 class="card-header">{{ 'NEARBY_SERVICE_STATIONS' | translate }}</h3>
                    <ul class="list-group list-group-flush" style="margin-top: -10px;">
                        <li class="list-group-item" ng-repeat="service_station in sensor.service_stations">
                            <div class="row">
                                <div class="col-xs-2">
                                    <h5>
                                        <span class="label label-info">
                                            {{(service_station.distance).toFixed(0) | distance }}
                                        </span>
                                    </h5>
                                </div>
                                <div class="col-xs-10">
                                    <h5>{{service_station.name}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-5">
                                    {{service_station.street}} {{service_station.house_number}} <span ng-if="service_station.addition != '' ">({{service_station.addition}})</span><br>
                                    {{service_station.zip_code}}, {{service_station.city}},<br>
                                    {{service_station.country | translate }}<br>
                                </div>
                                <div class="col-xs-5">
                                    {{service_station.phone_number}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd Tab -->
    <div class="row" ng-if="tab==2">
        <div class="col-md-6">
            <div class="card">
                TAB 2
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <!-- 3rd Tab -->
    <div class="row" ng-if="tab==3">
        <div class="col-md-6">
            <div class="card">
                TAB 3
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <!-- 4th Tab -->
    <div class="row" ng-if="tab==4">
        <div class="col-md-6">
            <div class="card">
                TAB 4
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

</div>

<!-- MAP-RESIZER -->
<script>
    console.log($('#details').height());
    console.log($('#map_2').height());
    //console.log($('#map_2').css( "height" ));
    $('#map_2').height( $('#details').height()-174 );
</script>
